<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="About.page.css">
    <meta charset="UTF-8">
<meta name="viewport" content="width=!!, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="background-image: url('beach.jpg');">
    <header>
    <div class="nav-bar">
    <a href="portfolio of Zikho Mtini.html">HOME</a>
    <a href="About.page.html">ABOUT</a>
    <a href="Contact.page.html">CONTACT</a>
    </div>


    </header>
    <div class= "Education">
    <h3>EDUCATION</h3>
    <P>school attended:Thandokhulu High School</P>
    <p>year 2018</p>
    <p>highest grade passed:Grade 12</p>
    </div>

    <div class="Skills">
    <h3 >SKILLS</h3>
    <p>computer Skills</p>
    <p>codding Skills</p> 
    <p>communication Skills</p>
    </div>

    <div class= "Accomplishments">
    <h3>ACCOMLISHMENTS</h3>
    <P>Youth development program</P>
    <p>Life direction program</p>
    <p>child aftter care</p>
    <P>no more bare feet program</P>
    </div>



    <div style="background-image: url('beach.jpg');">
    </div> 


    



        
    
    
